/*general styles*/
/*wielkośc elementu z paddingami, ramkami*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: beige;
}

/*naglowki nie sa bold a sa lekkie w calym dokumencie*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}



/*wszystkie spany tekstow sa lekko grubsze i zielone*/
span {
    font-weight: 400;
    color: #1ac056;
}

/*wszystkie bloki maja paddingi*/
section {
    padding-top: 30px;
    padding-bottom: 60px;
}

/*menu styles*/


/*selektor glownego kontenera*/
.main-nav {
/*    menu zafixowane*/
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: flex;
/*    text-align: right;*/
    justify-content: flex-end;
}

/*dla czytelnosci zagniezdzony selektor*/
.main-nav .menu-item {
    display: inline-block;    
}

.main-nav .menu-item a {
    color: #1ac056;
    text-decoration: none;
    padding: 15px;
}

/*header styles*/

.main-header {
    background-image: url(../img/header-background.jpg);
    height: 100vh;
/*    obrazek msa wypelnic caly blok i wyrzuci to co wyjdzie poza przestrzen*/
    background-size: cover;
/*    na srodku bloku*/
    background-position: center;
/*    blok tekstu ma byc wycentrowany wzg. main-header wiec tu tj w rodzicy trzeba napisac to co poniezej*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-header-content {
    color: #fff;
}

/*sekcja o mnie*/

.about-me .about-me-figure img {
    max-height: 350px;
}


