/***********************general styles*/
/*wielkośc elementu z paddingami, ramkami*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
/*    background-color: beige;*/
}

/*interlinia dla <p> jest wieksza niz standardowo 1*/
p {
    line-height: 1.4;
}

/*naglowki nie sa bold a sa lekkie w calym dokumencie*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    text-align: center;
}

h2 {
    font-size: 1.8em;
}

/*wszystkie sekcje o mnie i ponizej sa podobne do siebie: w sensie szerokosci itp*/
.container {
    display: flex;
    margin: auto;
    max-width: 1170px;
/*    oddalmy text od prawej krawedzi strony*/
    padding: 0 30px;
    padding-top: 30px;
/*    dla responsywnosci*/
    flex-wrap: wrap;
}

/*podzial na 2 kolumny*/
.container .col-1-2 {
    flex-basis: 50%;
}

.container .col-1-4 {
    flex-basis: 25%;
}


/*wszystkie spany tekstow sa lekko grubsze i zielone*/
span {
    font-weight: 400;
    color: #1ac056;
}

/*wszystkie bloki maja paddingi*/
section, 
footer {
    padding-top: 30px;
    padding-bottom: 60px;
}


figure {
    margin: 0;
}

/*placeholdery*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
::-moz-placeholder { /* Firefox 19+ */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}


/********************menu styles*/


/*selektor glownego kontenera*/
.main-nav {
/*    menu zafixowane*/
    position: fixed;
    background-color: #f9fcfe;
    width: 100%;
    display: flex;
/*    text-align: right;*/
    justify-content: flex-end;
    
/*    niech menu wystaje przed wszystkim*/
    z-index: 20;
}

/*dla czytelnosci zagniezdzony selektor*/
.main-nav .menu-item {
    display: inline-block;    
}

.main-nav .menu-item a {
    color: #1ac056;
    text-decoration: none;
    padding: 15px;
}

/*******************header styles*/

.main-header {
    background-image: url(../img/header-background.jpg);
    height: 100vh;
/*    obrazek msa wypelnic caly blok i wyrzuci to co wyjdzie poza przestrzen*/
    background-size: cover;
/*    na srodku bloku*/
    background-position: center;
/*    blok tekstu ma byc wycentrowany wzg. main-header wiec tu tj w rodzicy trzeba napisac to co poniezej*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header .main-header-content {
    color: #fff;
}

.main-header .main-header h1 {
font-size: 4em;
}

.main-header .main-header h2 {
font-size: 2em;
}

/**********************sekcja o mnie*/

.about-me .about-me-figure img {
    max-height: 350px;
    /*    jednostka zaokr jest w px*/
    border-radius: 15px;
/*    nie trzeba bo radius dziala nawet dla borderwidth=0 co jest domyslna gruboscia*/
    border-width: 10px;
/*    img jest znacznikiem liniowym i mozna uzyc text-align: */
}

.about-me {
    background-color: #f9fcfe;
}

/*srodkowanie jest na pudelku nie na obrazku*/
.about-me .about-me-figure {
text-align: center;
}


/*******************sekcja moje umiejetnosci*/

.skills {
    text-align: center;
    background-color: #f9fcfe;
}

.skills .skills-item {
    flex-basis: 20%
}

/*powiekszamy ikone 4x w stosunku do... wielkosci fontu body ktory standardowo ma 16px*/
.skills .skills-item i {
    font-size: 4em;
}

/*uzywamy atrybutow flexa*/
.skills .container-skills {
    justify-content: center;
    align-content: space-around;
}

/*podpisy pod ikonkami*/
.skills .skills-item figcaption {
    margin-top: 15px;
}


/*************************sekcja portfolio*/

.portfolio {
    background-color: #f9fcfe;
}


.portfolio .portfolio-item img {
    width: 100%;
    height: 100%;
/*    wypelnia przestrzen bloku przez dopasowanie*/
    object-fit: cover;
}

.portfolio .portfolio-item {
    flex-basis: 33.33%;
    max-height: 350px;
/*    maska w stosunku do portfolio-item*/
    position: relative;
    color: #fff;
}

.portfolio .portfolio-mask {
/*    maska w stosunku do portfolio-item*/
    position: absolute;
    background-color: rgba(33, 59, 80, 0.7);
    width: 100%;
    height: 100%;
    
/*    niech tekst i ikona w masce beda cale centrowane*/
    display: flex;
    align-items: center;
    
/*    maska musi byc normalnie wygaszona*/
    opacity: 0;
/*    musi ladnie sie pojawic, tj wolno*/
    transition: all 0.3s;
}

.portfolio .portfolio-mask:hover {
    opacity: 1;
}

/*maska*/

.portfolio .portfolio-content {
    color: #fff;
    text-align: center;
    padding: 15px;
}

.portfolio .portfolio-content h3, 
.portfolio .portfolio-content h4 {
    font-weight: 700;
    margin: 0;
}

.portfolio .portfolio-content .portfolio-link {
    color: #1ac056;
    font-size: 2em;
}

.portfolio .portfolio-content .portfolio-link:hover {
    color: #fff;
    transition: all 0.3s;
}

/**********************************stopka*/

.contact-footer {
    background-color: #213b50;
    color:#fff;
}

.contact-footer h2 {
    text-align: left;
    margin-top: 0;
}

.contact-footer address {
    font-style: normal;
    line-height: 1.4;
}

.contact-footer a {
    color: #1ac056;
    transition: all 0.3s;
    text-decoration: none;
}

.contact-footer a:hover {
    color: #fff;
}

.contact-footer .social-icons {
    margin-top: 45px;
}

.contact-footer .social-icons a {
    color: #fff;
    border: 1px solid #fff;
    font-size: 2em;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    margin-right: 10px;
/*    zeby bylo ładniutko, mięciusio, cieplutko i milutko*/
    transition: all 0.8s;
}

.contact-footer .social-icons a:hover {
    color: #213b50;
    background-color: #fff;
}

.contact-footer .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*wszystko co jest inputem z wyjatkiem inputa typu submit!!!*/
.contact-footer .contact-form input:not([type="submit"]),
/*end*/
.contact-footer .contact-form textarea {
    background-color: #425869;
    border: none;
    padding: 10px;
/*    usun te gownanie wbudowane obryzy inputow po focusie na inpucie*/
    outline: none;
/*    usun to gowno do resizingu textarea*/
    resize: none;
}

.contact-footer .contact-form input[type="submit"] {
/*    ustal szerokosc przycisku*/
    width: 25%;
/*    ustaw do prawej*/
    align-self: flex-end;
    background-color: #1ac056;
    color: #fff;
    padding: 15px;
/*    daje łapkę po najechaniu*/
    cursor: pointer;
    border: 1px; solid #1ac056;
    text-transform: uppercase;
    transition: all 0.8s;
    
}

.contact-footer .contact-form input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
    border: 1px solid #1ac056;
}


/******************responsywaność*/


@media (max-width: 768px) {
    .container .col-1-2 {
        flex-basis: 100%;
    }
}